.poker-table {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 67px auto 0 auto  ;

  &-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .community-cards {
    position: absolute;
    top: 45%; // Center vertically
    left: 50%; // Center horizontally
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;

    .community-card {
      width: 60px;
      height: 80px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
  }
}