.timer {
  position: absolute;
  top: 675px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  font-family: 'Kalam', sans-serif;
}

.timer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px aliceblue;
}

.timer-text {
  color: black;
}

.timer-text-urgent {
  color: red;
}

.clock-icon {
  font-size: 2rem;
}

.clock-pulse {
  animation: pulse 1.5s infinite;
}

.clock-pulse-urgent {
  animation: pulse-urgent 1s infinite;
}

.time-text {
  font-size: 1.8rem;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    color: goldenrod;
  }
  50% {
    transform: scale(1.1);
    color: darkgoldenrod;
  }
}

@keyframes pulse-urgent {
  0%, 100% {
    transform: scale(1);
    color: red;
  }
  50% {
    transform: scale(1.1);
    color: darkred;
  }
}
