.clock-icon {
  font-size: 2rem;
}

.clock-pulse {
  animation: pulse 1.5s infinite;
}

.clock-pulse-urgent {
  animation: pulse-urgent 1s infinite;
}

.time-text {
  font-size: 1.8rem;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    color: goldenrod;
  }
  50% {
    transform: scale(1.1);
    color: darkgoldenrod;
  }
}

@keyframes pulse-urgent {
  0%, 100% {
    transform: scale(1);
    color: red;
  }
  50% {
    transform: scale(1.1);
    color: darkred;
  }
}
