#root {
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

#body {
  background: #000;
}

.background-blur {
  position: absolute;
  inset: -1rem;
  background: #3b82f6;
  opacity: 0.3; /* Starting opacity for better visibility */
  border-radius: 50%;
  filter: blur(3rem); /* Increased blur */
  animation: pulse 1s infinite; /* Slower animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 20px 5px rgb(59, 130, 246);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px 5px rgb(59, 130, 246);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 20px 5px rgb(59, 130, 246);
  }
}

